$primary: #39bcf9;
$secondary: #f7f9fa;
$black: #000000;
$lightBlack: #606060;
$grayBlack: #ccc9c9fb;
$white: #fff;
$magenta: #ff00ff;
$yellon: #f0ff00;
$blue: #39bcf9;
$black: #000;


$fontFamily: 'Poppins', sans-serif;